<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Conn1"
			 providerName="System.Data.ProviderName"
			 connectionString="Valid Connection String;" />
		<add name="Conn2"
			 connectionString="Data Source=.;Initial Catalog=OmidPayamak;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<appSettings>
		<add key="Example1" value="This is value of example 1"/>
		<add key="Example2" value="This is value of example 2"/>
		<add key="ExampleBool" value="true"/>
		<add key="ExampleInt" value="12345"/>
	</appSettings>
	
</configuration>